<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Mamagoto.inc</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <div id="sidebar">
    {% include 'sidebar.html' %}
    </div>
    <div id="content">
        {{ md }}
        <form method="POST">
            <label for="address">宛先:</label>
            <select multiple id='address' name='address'>
                {% for address in addresses %}
                    <option value="{{ address }}">{{ address }}</option>
                {% endfor %}
            </select>
            <label for="content">内容:</label><br/>
            <textarea name="content" required></textarea>
            <input type="submit" value="送信">
        </form>
    </div>
</body>
</html>
