<!-- sidebar.html -->

<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>
<div id="sidebar">
  <div class="sidebar-header">
    <h2>Mamagoto.inc</h2>
  </div>
  <div class="section">
    <h3>Menu</h3>
    <ul class="sidebar-menu">
      <li><a href="{{url_for('index')}}">ホーム</li>
      <li><a href="{{url_for('departments.departments')}}">部門</a></li>
      <li><a href="{{url_for('employee-page.employee_page')}}">従業員</a></li>
      <li><a href="{{url_for('mails.mails')}}">メール</a></li>
      <li><a href="{{url_for('logs.logs')}}">ログ</a></li>
    </ul>
  </div>
</div>